In [28]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from statsmodels.stats.outliers_influence import variance_inflation_factor
from sklearn.linear_model import LinearRegression,Lasso,Ridge
from sklearn.metrics import mean_squared_error,mean_absolute_error,r2_score

In [29]:
df=pd.read_csv("Housing.csv")
df

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished
...,...,...,...,...,...,...,...,...,...,...,...,...,...
540,1820000,3000,2,1,1,yes,no,yes,no,no,2,no,unfurnished
541,1767150,2400,3,1,1,no,no,no,no,no,0,no,semi-furnished
542,1750000,3620,2,1,1,yes,no,no,no,no,0,no,unfurnished
543,1750000,2910,3,1,1,no,no,no,no,no,0,no,furnished
544,1750000,3850,3,1,2,yes,no,no,no,no,0,no,unfurnished

In [30]:
df["mainroad"].value_counts()

yes    468
no      77
Name: mainroad, dtype: int64

In [31]:
df.replace({"yes":1,"no":0},inplace=True)

In [32]:
df

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,1,0,0,0,1,2,1,furnished
1,12250000,8960,4,4,4,1,0,0,0,1,3,0,furnished
2,12250000,9960,3,2,2,1,0,1,0,0,2,1,semi-furnished
3,12215000,7500,4,2,2,1,0,1,0,1,3,1,furnished
4,11410000,7420,4,1,2,1,1,1,0,1,2,0,furnished
...,...,...,...,...,...,...,...,...,...,...,...,...,...
540,1820000,3000,2,1,1,1,0,1,0,0,2,0,unfurnished
541,1767150,2400,3,1,1,0,0,0,0,0,0,0,semi-furnished
542,1750000,3620,2,1,1,1,0,0,0,0,0,0,unfurnished
543,1750000,2910,3,1,1,0,0,0,0,0,0,0,furnished
544,1750000,3850,3,1,2,1,0,0,0,0,0,0,unfurnished

In [33]:
df["furnishingstatus"].value_counts()

semi-furnished    227
unfurnished       178
furnished         140
Name: furnishingstatus, dtype: int64

In [34]:
df["furnishingstatus"].replace({"furnished":1,"semi-furnished":2,"unfurnished":3},inplace=True)

In [35]:
df

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,1,0,0,0,1,2,1,1
1,12250000,8960,4,4,4,1,0,0,0,1,3,0,1
2,12250000,9960,3,2,2,1,0,1,0,0,2,1,2
3,12215000,7500,4,2,2,1,0,1,0,1,3,1,1
4,11410000,7420,4,1,2,1,1,1,0,1,2,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
540,1820000,3000,2,1,1,1,0,1,0,0,2,0,3
541,1767150,2400,3,1,1,0,0,0,0,0,0,0,2
542,1750000,3620,2,1,1,1,0,0,0,0,0,0,3
543,1750000,2910,3,1,1,0,0,0,0,0,0,0,1
544,1750000,3850,3,1,2,1,0,0,0,0,0,0,3

In [36]:
df.describe()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
count,5.450000e+02,545.000000,545.000000,545.000000,545.000000,545.000000,545.000000,545.000000,545.000000,545.000000,545.000000,545.000000,545.000000
mean,4.766729e+06,5150.541284,2.965138,1.286239,1.805505,0.858716,0.177982,0.350459,0.045872,0.315596,0.693578,0.234862,2.069725
std,1.870440e+06,2170.141023,0.738064,0.502470,0.867492,0.348635,0.382849,0.477552,0.209399,0.465180,0.861586,0.424302,0.761373
min,1.750000e+06,1650.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
25%,3.430000e+06,3600.000000,2.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
50%,4.340000e+06,4600.000000,3.000000,1.000000,2.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000
75%,5.740000e+06,6360.000000,3.000000,2.000000,2.000000,1.000000,0.000000,1.000000,0.000000,1.000000,1.000000,0.000000,3.000000
max,1.330000e+07,16200.000000,6.000000,4.000000,4.000000,1.000000,1.000000,1.000000,1.000000,1.000000,3.000000,1.000000,3.000000

In [37]:
x=df.drop("price",axis=1)
x

,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,7420,4,2,3,1,0,0,0,1,2,1,1
1,8960,4,4,4,1,0,0,0,1,3,0,1
2,9960,3,2,2,1,0,1,0,0,2,1,2
3,7500,4,2,2,1,0,1,0,1,3,1,1
4,7420,4,1,2,1,1,1,0,1,2,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
540,3000,2,1,1,1,0,1,0,0,2,0,3
541,2400,3,1,1,0,0,0,0,0,0,0,2
542,3620,2,1,1,1,0,0,0,0,0,0,3
543,2910,3,1,1,0,0,0,0,0,0,0,1
544,3850,3,1,2,1,0,0,0,0,0,0,3

In [38]:
y=df["price"]
y

0      13300000
1      12250000
2      12250000
3      12215000
4      11410000
         ...
540     1820000
541     1767150
542     1750000
543     1750000
544     1750000
Name: price, Length: 545, dtype: int64

In [39]:
df.corr()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
price,1.000000,0.535997,0.366494,0.517545,0.420712,0.296898,0.255517,0.187057,0.093073,0.452954,0.384394,0.329777,-0.304721
area,0.535997,1.000000,0.151858,0.193820,0.083996,0.288874,0.140297,0.047417,-0.009229,0.222393,0.352980,0.234779,-0.171445
bedrooms,0.366494,0.151858,1.000000,0.373930,0.408564,-0.012033,0.080549,0.097312,0.046049,0.160603,0.139270,0.079023,-0.123244
bathrooms,0.517545,0.193820,0.373930,1.000000,0.326165,0.042398,0.126469,0.102106,0.067159,0.186915,0.177496,0.063472,-0.143559
stories,0.420712,0.083996,0.408564,0.326165,1.000000,0.121706,0.043538,-0.172394,0.018847,0.293602,0.045547,0.044425,-0.104672
mainroad,0.296898,0.288874,-0.012033,0.042398,0.121706,1.000000,0.092337,0.044002,-0.011781,0.105423,0.204433,0.199876,-0.156726
guestroom,0.255517,0.140297,0.080549,0.126469,0.043538,0.092337,1.000000,0.372066,-0.010308,0.138179,0.037466,0.160897,-0.118328
basement,0.187057,0.047417,0.097312,0.102106,-0.172394,0.044002,0.372066,1.000000,0.004385,0.047341,0.051497,0.228083,-0.112831
hotwaterheating,0.093073,-0.009229,0.046049,0.067159,0.018847,-0.011781,-0.010308,0.004385,1.000000,-0.130023,0.067864,-0.059411,-0.031628
airconditioning,0.452954,0.222393,0.160603,0.186915,0.293602,0.105423,0.138179,0.047341,-0.130023,1.000000,0.159173,0.117382,-0.150477
parking,0.384394,0.352980,0.139270,0.177496,0.045547,0.204433,0.037466,0.051497,0.067864,0.159173,1.000000,0.091627,-0.177539
prefarea,0.329777,0.234779,0.079023,0.063472,0.044425,0.199876,0.160897,0.228083,-0.059411,0.117382,0.091627,1.000000,-0.107686
furnishingstatus,-0.304721,-0.171445,-0.123244,-0.143559,-0.104672,-0.156726,-0.118328,-0.112831,-0.031628,-0.150477,-0.177539,-0.107686,1.000000

In [40]:
for i in range(df.shape[1]):
    vif=variance_inflation_factor(df.to_numpy(),i)
    print(vif)

23.41298227843554
10.08007301278431
17.88998632708766
11.172606010296658
8.614979920606784
7.2136223356647164
1.4879649701273996
2.0555230761869407
1.1204865949985308
1.9664173090568076
2.0770338150742957
1.5813199830871878
6.033022940932371

In [41]:
df.shape[0:2]

(545, 13)

model fitting

In [42]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=42)

In [43]:
x_train

,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
126,7160,3,1,1,1,0,1,0,0,2,1,3
363,3584,2,1,1,1,0,0,1,0,0,0,2
370,4280,2,1,1,1,0,0,0,1,2,0,2
31,7000,3,1,4,1,0,0,0,1,2,0,2
113,9620,3,1,1,1,0,1,0,0,2,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...
71,6000,4,2,4,1,0,0,0,1,0,0,3
106,5450,4,2,1,1,0,1,0,1,0,1,2
270,4500,3,2,3,1,0,0,1,0,1,0,1
435,4040,2,1,1,1,0,0,0,0,0,0,3
102,5500,3,2,4,1,1,0,0,1,1,0,2

In [44]:
y_train

126    5880000
363    3710000
370    3640000
31     8400000
113    6083000
        ...
71     6755000
106    6160000
270    4340000
435    3290000
102    6195000
Name: price, Length: 381, dtype: int64

In [45]:
x_test

,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
316,5900,4,2,2,0,0,1,0,0,1,0,3
77,6500,3,2,3,1,0,0,0,1,0,1,1
360,4040,2,1,1,1,0,0,0,0,0,0,2
90,5000,3,1,2,1,0,0,0,1,0,0,2
493,3960,3,1,1,1,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
395,3600,6,1,2,1,0,0,0,0,1,0,3
425,3185,2,1,1,1,0,1,0,0,2,0,1
195,4410,4,3,2,1,0,1,0,0,2,0,2
452,9000,3,1,2,1,0,0,0,0,2,0,2
154,3650,3,2,2,1,0,0,0,0,2,0,2

In [46]:
df.iloc[126:127]

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
126,5880000,7160,3,1,1,1,0,1,0,0,2,1,3

In [47]:
lr=LinearRegression()
lr

LinearRegression()

In [48]:
lr.fit(x_train,y_train)

LinearRegression()

Model Evaluation on Training

In [49]:
y_pred_train=lr.predict(x_train)
np.around(y_pred_train,2)

array([ 5332298.8 ,  3560000.37,  4404360.99,  6422828.76,  6350894.78,
        6125803.74,  3154901.01,  4641274.28,  8811989.66,  5151873.94,
        7362142.9 ,  8117826.45,  3323065.8 ,  6980537.59,  5358025.69,
        4519725.42,  3419875.41,  4377646.55,  6385788.92,  5819537.07,
        5258023.92,  3835676.53,  6749594.55,  3217825.87,  3232110.44,
        3000311.5 ,  8531123.97,  6055252.84,  6263181.51,  4355706.89,
        4899309.82,  7461955.39,  5328194.74,  4087447.07,  2857431.12,
        8414396.76,  4547026.95,  5155699.59,  5750985.84,  5445311.17,
        2661054.75,  5668149.26,  3256024.39,  4857095.27,  7102084.11,
        5724018.22,  6186517.54,  7952938.36,  8833420.51,  6129740.78,
        6978873.94,  4154162.91,  8327092.49,  5302914.4 ,  3475682.1 ,
        5612945.58,  4197719.24,  5324616.72,  3630905.6 ,  3980898.08,
        7099435.9 ,  3171871.11,  3718496.23,  5750385.29,  6060170.61,
        3293477.23,  3390776.28,  4952533.31,  4886176.18,  5689160.71,
        4025851.54,  6995163.54,  3883996.1 ,  5591903.65,  4658066.03,
        5218561.4 ,  5055425.49,  4887825.34,  3731784.78,  3161509.45,
        2847308.62,  4012304.07,  6130314.28,  6609288.4 ,  4405445.04,
        4826571.85,  6852873.21,  6215626.92,  4511684.92,  2995468.54,
        4401621.05,  4994616.89,  2692164.91,  3736449.48,  6829318.7 ,
        5775890.83,  5161022.66,  3751387.06,  3355987.22,  6174908.32,
        3214116.02,  4169981.62,  5193432.96,  4148055.41,  5101279.45,
        3140377.56,  3987709.7 ,  4266898.33,  4115383.76,  7589698.43,
        6485452.55,  4047143.94,  5795706.76,  7460626.34,  6156197.83,
        4811678.03,  4245875.5 ,  3746588.62,  2892084.15,  5587286.07,
        4270336.48,  3573973.86,  6251269.15,  5295161.52,  4716848.28,
        4197719.24,  4994323.42,  4621410.74,  5344920.64,  5009777.71,
        4394597.08,  5782181.94,  2506069.78,  5889917.8 ,  5943532.32,
        4045985.61,  4445212.76,  5993465.39,  2827807.9 ,  2846822.05,
        4197177.08,  6197085.07,  4948782.69,  3864765.98,  3516046.37,
        3788530.89,  5448732.71,  3537334.01,  2847308.62,  3889671.88,
        4940485.35,  7351761.42,  5219566.65,  5798330.41,  2882493.15,
        4590011.82,  6965120.17,  3090248.46,  4169964.09,  2185925.83,
        2753675.56,  3782866.76,  3165280.25,  4770718.57,  4335663.22,
        3152268.84,  2961581.97,  2763550.65,  5183403.46,  5061894.37,
        4024269.59,  6161683.06,  4526223.11,  3775341.9 ,  5525440.8 ,
        3677537.54,  4415054.65,  2746083.69,  3918569.35,  7123113.1 ,
        5322411.98,  6188403.21,  5418319.02,  3858076.77,  4162356.59,
        6702443.45,  5850996.85,  3258315.84,  6224022.6 ,  2948667.63,
        3554781.41,  3181354.11,  6191681.35,  2989427.07,  4494025.16,
        3793269.03,  2750522.34,  5368478.26,  3037105.37,  3142146.34,
        4644102.53,  2639797.52,  7263827.17,  5658448.46,  7563289.77,
        3915744.59,  7030603.08,  4330811.75,  6043805.71,  3709879.01,
        5672897.21,  6882819.34,  7738232.96,  7341354.66,  5110021.4 ,
        6692967.16,  2915785.93,  3500240.82,  4597207.54,  6390519.76,
        5749902.03,  4316905.77,  2866777.92,  2944115.02,  4611928.8 ,
        5790884.49,  3110891.96,  7477557.86,  3649922.95,  3439477.68,
        4945373.32,  3541345.32,  3920206.59,  3423189.  ,  4028268.03,
        5043836.2 ,  3395208.67,  6742793.15,  4350063.94,  5464378.88,
        6379807.02,  5351568.04,  2948533.56,  5064959.8 ,  2934217.84,
        5528042.36,  6726429.05,  4018576.13,  3802135.72,  5264369.37,
        3994870.69,  7333154.95,  6658236.58,  4080771.62,  4747235.31,
        4840455.49,  2163150.22,  4665832.01,  3262490.19,  4324869.8 ,
        4513926.29,  5332527.29,  4774016.58,  4590211.92,  6675901.46,
        3784904.08,  2722421.18,  4892746.32,  6492959.88,  6480951.31,
        5800921.18,  2348661.42,  7424317.  ,  3114744.36,  3007380.6 ,
        7120335.29,  3979668.99,  6132327.13,  5135911.3 ,  6061644.81,
        3926171.71,  5333934.31,  3175517.17,  4761920.1 ,  3249219.49,
        3840598.37,  3555883.14,  3950108.65,  4655142.3 ,  4449136.36,
        4455800.75,  6370351.34,  2711676.08,  3447069.55,  4193750.21,
        2956217.76,  3793351.9 ,  2751144.94,  3937617.53,  4238377.6 ,
        3320538.39,  3021452.12,  4604117.58,  5960090.39,  6689867.26,
        6263776.71,  6159363.89,  6023830.12,  4466553.13,  5309663.84,
        4983984.95,  7072036.32,  3778448.22, 10855794.06,  2124415.18,
        3132896.9 ,  7069944.74,  3877031.31,  5483454.75,  4998281.77,
        6374673.54,  2739401.59,  3127457.49,  4266898.33,  4152382.71,
        2906781.31,  3634718.43,  5821405.06,  4734503.9 ,  2756206.19,
        7543361.21,  4035968.9 ,  4173877.38,  3675496.53,  6043574.86,
        4130246.6 ,  6355105.35,  4284617.83,  4306267.65,  6174265.61,
        5544446.65,  2487473.54,  5489840.15,  4060526.64,  2196048.32,
        2622879.61,  3321069.75,  5562493.42,  3859947.11,  3285125.07,
        3208078.74,  2238293.23,  7770474.6 ,  3413415.3 ,  4611020.07,
        6898505.86,  4580268.87,  2720777.46,  6175053.1 ,  3450643.21,
        6003907.8 ,  2756206.19,  4938861.39,  2794964.38,  3065584.94,
        4344575.36,  3897007.62,  5624461.  ,  3413024.59,  4211089.21,
        3307885.27,  4549718.58,  3420860.65,  2905268.76,  6315482.97,
        5337927.12,  6563686.19,  6369551.54,  6325625.11,  2857431.12,
        7136063.85])

In [50]:
mse=mean_squared_error(y_train,y_pred_train)
print("mse",mse)
rmse=np.sqrt(mse)
print("rmse",rmse)
mae=mean_absolute_error(y_train,y_pred_train)
print("mse",mse)
r2_score1=r2_score(y_train,y_pred_train)
print("r2_score",r2_score1)

mse 965153171508.6732
rmse 982422.0943711889
mse 965153171508.6732
r2_score 0.6927795109061218

Model Evaluation on Testing

In [51]:
y_pred_test=lr.predict(x_test)
y_pred_test

array([5407508.87024418, 7097185.46706854, 3055462.44314053,
       4476945.19636315, 3315983.65663579, 3618373.03255259,
       5758111.46044028, 6466502.43909126, 2830273.16469119,
       2588804.65810567, 9649589.31414054, 2830606.51113843,
       3048137.62898116, 3392779.60203048, 3823232.9673009 ,
       5358170.87034032, 2955016.41578148, 4836054.53230682,
       4603068.47740645, 3551464.60674927, 5625018.82657786,
       5796938.54363456, 2758483.74755246, 4873266.20950521,
       5600804.93370716, 7772078.63540938, 3381536.16270183,
       5370732.06725797, 8352665.9587942 , 3406110.06934798,
       6335677.41367624, 3427228.10570008, 6740746.88053742,
       4205633.93578768, 3624702.80095917, 5797171.46441145,
       5080025.13346592, 4386055.52335342, 3070137.54474224,
       4635050.40917587, 4743419.55702887, 3433682.48420934,
       7076940.4807988 , 4096598.07073102, 3741261.35302813,
       4308416.36745432, 6678982.6364043 , 4092649.04459023,
       3872211.05471678, 3687383.17722361, 7462374.91109114,
       2898324.62920572, 4501494.58592862, 4427073.78264694,
       3822457.27350851, 2641947.74706375, 7510739.56714418,
       2940944.89650582, 4246613.52617664, 2796696.15913661,
       5048338.5881557 , 3582935.78133612, 5255053.95042848,
       4255235.59619517, 4807607.51782258, 4711232.00096705,
       7260531.24221025, 3577762.50878024, 6285890.98464552,
       6318431.41494408, 4758297.02517639, 5066345.62837539,
       4660923.85280286, 8066891.08353479, 3498363.85433617,
       5429714.24082061, 4058399.55113095, 4441034.13232771,
       4816316.06017677, 4040152.44618202, 7752648.28119992,
       4172277.59889827, 6705184.89500425, 5431743.8402273 ,
       2763801.26664556, 7145185.10824616, 2626368.70533511,
       3708769.99925747, 8020894.34927403, 8360086.48106035,
       3255839.86876679, 6099608.09004818, 3610311.65133947,
       3666255.62947034, 7909304.88416764, 4708264.41070267,
       5200345.04442612, 6430338.84553524, 4954759.03354751,
       5980566.29859787, 3959705.24306595, 6578815.16383058,
       3699022.87139188, 6086458.26574741, 5225872.35919378,
       4461872.63697472, 7065795.84374117, 6430992.76558985,
       6577488.25056946, 7181092.29436555, 7132469.27644317,
       4969951.60846033, 3988509.66451833, 3282579.03980776,
       4284449.11400227, 3307885.27264494, 2794018.0999277 ,
       2314211.92533476, 3639260.72788702, 4017775.19574567,
       3783639.23978665, 4997528.13318575, 3920039.36114686,
       4086116.99024392, 6051867.67437964, 2314854.63439944,
       5648580.65216443, 3388208.4469447 , 8106887.37935499,
       6945211.4619021 , 3290813.6187236 , 4943358.78455695,
       7021438.17367802, 6633943.09586481, 3257272.80697058,
       2346620.41017362, 3128074.82457597, 5602713.80008827,
       3052041.70375378, 3931847.49328003, 2574372.82187877,
       4011784.5084254 , 5232639.95388041, 4105734.9218601 ,
       4188942.50390193, 2421273.7970433 , 6767186.36585123,
       5302303.58194732, 6807894.55657294, 7246680.49265498,
       5468336.15501999, 4606361.04221866, 3769887.60312207,
       3860336.84228787, 3308041.40432699, 7268912.41470939,
       8146912.63449662, 4013563.22451008, 7210577.89436119,
       3796902.64702948, 4130262.35836178, 7058248.99034354,
       5417344.25448755, 5180833.66432886])

In [52]:
mse1=mean_squared_error(y_test,y_pred_test)
print("mse1",mse1)
rmse1=np.sqrt(mse1)
print("rmse1",rmse1)
mae1 =  mean_absolute_error(y_test,y_pred_test)
print("mse1",mse1)
r2_score=(r2_score(y_test,y_pred_test))
print("r2_score1",r2_score)

mse1 1535047758428.0505
rmse1 1238970.4429194632
mse1 1535047758428.0505
r2_score1 0.6435419628959105